#arrange in alphabetic order
apache-airflow[mysql, postgres, celery, rabbitmq]
calamari_ocr==0.3.3
flask
flask_cors
gin-config
matplotlib
numpy
pandas
py4j==0.10.7
pytesseract
psycopg2
requests
sklearn
shapely
tensorflow
tensorflow-gpu
tensorflow-serving-api
tensorflow-hub
tqdm
overrides
opencv-python






