//bootstrap theme-color overrides
$primary: #d37b17;
$secondary: #2b4162;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary
);

//bootstrap color variables overrides
$body-color: #111;

//application color variables

$white: #ffffff;
$vitaflow-light-blue: #acbed8;
$vitalflow-light-gray: #f7f6f6;
